<div id="burger" class="toggle-menu">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="menu" id="nav">
  <a class="title menu-entry" href="{% link index.md %}">Find your local football team</a>
  <div id="toggles"></div>
  <div id="toggle-countries" class="menu-entry">
    <img class="icon" src="{{ site.baseurl }}/img/angle-down.svg">
    <span class="text">Countries</span>
  </div>
  <div id="country-list">
    {% for country in site.countries %}
    <a class="menu-entry" href="{{ site.baseurl }}{{ country.url }}">
      <img class="icon" src="{{ site.baseurl }}/img/{{ country.country }}.svg">
      <span class="text">{{ country.country | capitalize }}</span>
    </a>
    {% endfor %}
  </div>
  <a class="menu-entry" href="{% link faq.md %}">
    <img class="icon" src="{{ site.baseurl }}/img/question.svg">
    <span class="text">What is this?</span>
  </a>
  <a class="menu-entry" href="{% link contribute.md %}">
    <img class="icon" src="{{ site.baseurl }}/img/add.svg">
    <span class="text">Contribute</span>
  </a>
  <a class="menu-entry" href="{% link contribute.md %}#mistake">
    <img class="icon" src="{{ site.baseurl }}/img/mistake.svg">
    <span class="text">Fix a mistake</span>
  </a>
  <a class="menu-entry" target="_blank" href="https://guushoekman.com">
    <img class="icon" src="{{ site.baseurl }}/img/guus.svg">
    <span class="text">Made by Guus Hoekman</span>
  </a>
</nav>
