---
layout: base
---
{% include nav.html %}
<div id="selected">Click on an area to show the team name</div>
<div id="menu-overlay" class="toggle-menu"></div>
<div id="map"></div>

<script src="{{ site.baseurl }}/js/leaflet.min.js"></script>
<script src="https://unpkg.com/d3@3.5.17/d3.min.js"></script>
<script src="{{ site.baseurl }}/js/country-map.js"></script>
<script>
  // creat map and add tile layer
  const map = L.map("map").fitBounds([{{ page.fitBounds }}]).setMaxBounds([[-55,-180],[80,180]]);
  L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a>, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    maxZoom: 18,
    minZoom: 4,
    id: "mapbox/streets-v11",
    tileSize: 512,
    zoomOffset: -1,
    opacity: .4,
    accessToken: "pk.eyJ1IjoiZHV4a2doIiwiYSI6Ijg5NWE2ZWI5NmVhNTVmMGIyMjhkNDJhYmViNmI1ZjNjIn0.u2_1ZH77JRRo2JzCkcjbrw",
  }).addTo(map);

  // load data, define initial selection, and create voronoi map
  url = "{{ site.baseurl }}/data/{{ page.country }}.csv";
  initialSelection = d3.set(["{{ page.initial }}"]);
  voronoiMap(map, url, initialSelection);

  // make nav slide in out on mobile
  const toggleMenu = document.getElementsByClassName("toggle-menu");

  Array.from(toggleMenu).forEach(function(element) {
    element.addEventListener("click", function() {
      document.getElementById("nav").classList.toggle("visible");
      document.getElementById("burger").classList.toggle("visible");
      document.getElementById("menu-overlay").classList.toggle("visible");
    })
  });

  // toggle list of countries in navbar
  const toggleCountries = document.getElementById("toggle-countries");
  toggleCountries.addEventListener("click", function() {
    document.getElementById("toggle-countries").classList.toggle("open");
    document.getElementById("country-list").classList.toggle("visible");
  })

  // show the country on the map
  function showCountry() {
    map.fitBounds([{{ page.fitBounds }}]);
  }

  // add show country button to map
  L.Control.ShowCountry = L.Control.extend({
    onAdd: function(map) {
      var button = L.DomUtil.create("div", "show-country button");

      return button;
    }
  });

  L.control.showcountry = function(opts) {
      return new L.Control.ShowCountry(opts)
    }

  L.control.showcountry({ position: "topleft" }).addTo(map);

  const showCountryButton = document.getElementsByClassName("show-country");

  var countryButtonFlag = document.createElement("img");
  countryButtonFlag.setAttribute("src", "{{ site.baseurl }}/img/{{ page.country }}.svg");

  Array.from(showCountryButton).forEach(function(element) {
    element.appendChild(countryButtonFlag);
    element.addEventListener("click", function() {
      showCountry()
    })
  });
</script>